:root{
    --backgroundcol: #327fb3;
    --maincol: #e6e6e6;
}

html {
    background-color: white;
}

body{
    margin: 0;
}

header {
    background-color: var(--backgroundcol);
}

nav {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: safe center;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.navbutton {
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-right: 2vw;
    padding-left: 2vw;
    color: var(--maincol);
    font-size: 2.5vh;
    text-decoration: none;
    text-transform:none;
}

.navbutton:hover{
    color: var(--backgroundcol);
    background-color: var(--maincol);
    text-decoration: none;
    text-transform:none;
}

.buttonsubmit{
    font-family: Yu Gothic UI;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-right: 1vw;
    padding-left: 1vw;
    color: white;
    background-color: var(--backgroundcol);
    font-size: 2.5vh;
    text-decoration: none;
    text-transform:none;
    border-radius: 10px;
    border: solid;
    border-color: var(--backgroundcol);
}

.buttonsubmit:hover{
    color: var(--backgroundcol);
    background-color: white;
    text-decoration: none;
    text-transform:none;
}

.container-video {
	margin: 0;
	width: 500px;
	height: 375px;
	border: 10px #333 solid;
}

#videoElement {
	width: 500px;
	height: 375px;
	background-color: #666;
}
