:root{
    --backgroundcol: #327fb3;
    --maincol: #e6e6e6;
}

html {
    background-color: white;
}

body{
    margin: 0;
}

header {
    background-color: var(--backgroundcol);
}

nav {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: safe center;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.navbutton {
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-right: 2vw;
    padding-left: 2vw;
    color: var(--maincol);
    font-size: 2.5vh;
    text-decoration: none;
    text-transform:none;
}

.navbutton:hover{
    color: var(--backgroundcol);
    background-color: var(--maincol);
    text-decoration: none;
    text-transform:none;
}

.buttonsubmit{
    font-family: Yu Gothic UI;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-right: 1vw;
    padding-left: 1vw;
    color: white;
    background-color: var(--backgroundcol);
    font-size: 2.5vh;
    text-decoration: none;
    text-transform:none;
    border-radius: 10px;
    border: solid;
    border-color: var(--backgroundcol);
}

.buttonsubmit:hover{
    color: var(--backgroundcol);
    background-color: white;
    text-decoration: none;
    text-transform:none;
}

@media screen and (max-width: 962px){
    .navbox{
        display: none;
    }
    .navmenuicon{
        display: block;
    }

    header{
        display: flex;
        justify-content: space-around;
        position: sticky;
        top: 0;
    }

    .indextext{
        width: 90%;
        padding: 2%;
        font-size: 3vh;
        margin-left: auto;
        margin-right:auto;
        margin-top: 6%;
        text-align: center;
        font-family: Yu Gothic UI;
        border-style: solid;
        border-width: 3px;
        border-radius: 25px;
        border-color: #327fb3;
    }

    .container-video {
        margin: 0;
        width: 90%;
        height: auto;
        min-height: 50vh;
        border: 10px #333 solid;
    }

    #videoElement {
        width: 100%;
        height: 100%;
        background-color: #666;
    }

    .gamemodeTitle{
        margin: 0px;
        margin-bottom: 2vh;
        margin-top: 1vh;
        font-family: Yu Gothic UI;
        font-size: 200%;
        background-image: linear-gradient(to right, #b0e0e6, #4682b4, #b0e0e6);
        color: transparent;
        background-clip: text;
    }

    .mainContainer{
        width: 90%;
        margin: auto;
        text-align: center;
        margin-top: 5vh;
    }

    .instructionsOptionsBlockBasic{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .OptionsBlockBasic{
        width:100%;
        height: fit-content;
        border-radius: 0px;
        padding-bottom: 2vh;
        text-align: center;
        font-size: 150%;
        font-family: Yu Gothic UI;
    }

    .instructionsBlockBasic{
        display: none;
    }

    .MainContainerBasic{
        width: 90%;
        min-height: 30vh;
        max-height: fit-content;
        margin-left: auto;
        margin-right: auto;
    }

    .noMobile{
        display: none;
    }

    .inBetweenSpacerBasic{
        width: 2vw;
    }

    .analysisResultsBlock{
        width:90%;
        min-height: 40vh;
        max-height: fit-content;
        padding-bottom: 2.5vh;
        padding-top: 5vh;
        margin: auto;
    }
}

@media screen and (min-width: 963px){
    .navbox{
        display: inherit;
    }

    .navmenuicon{
        display: none;
    }

    header{
        display: flex;
        justify-content: space-around;
    }

    .indextext{
        width: 50%;
        padding: 2%;
        font-size: 3vh;
        margin-left: auto;
        margin-right:auto;
        margin-top: 6%;
        text-align: center;
        font-family: Yu Gothic UI;
        border-style: solid;
        border-width: 3px;
        border-radius: 25px;
        border-color: #327fb3;
    }

    .container-video {
        margin: 0;
        width: 90%;
        height: auto;
        min-height: 375px;
        border: 10px #333 solid;
    }

    #videoElement {
        width: 100%;
        height: 100%;
        background-color: #666;
    }

    .gamemodeTitle{
        margin: 0px;
        margin-bottom: 2vh;
        margin-top: 1vh;
        font-family: Yu Gothic UI;
        font-size: 400%;
        background-image: linear-gradient(to right, #b0e0e6, #4682b4, #b0e0e6);
        color: transparent;
        background-clip: text;
    }

    .mainContainer{
        display:flex;
        width: 90%;
        margin: auto;
        justify-content: safe center;
        margin-top: 5vh;
    }

    .instructionsOptionsBlockBasic{
        width: 22%;
    }

    .OptionsBlockBasic{
        width:100%;
        border: solid;
        border-width: 2px;
        border-color: #327fb3;
        height: fit-content;
        border-radius: 30px;
        padding-top: 1vh;
        padding-bottom: 6vh;
        text-align: center;
        font-size: 150%;
        font-family: Yu Gothic UI;
    }

    .instructionsBlockBasic{
        width:100%;
        border: solid;
        border-width: 2px;
        border-color: #327fb3;
        border-radius: 30px;
        min-height: 40vh;
        max-height: fit-content;
    }

    .MainContainerBasic{
        width: 40%;
        border: solid;
        border-width: 2px;
        border-color: #327fb3;
        border-radius: 30px;
        margin-right: 3vw;
        margin-left: 3vw;
        min-height: 30vh;
        max-height: fit-content;
    }

    .inBetweenSpacerBasic{
        width: 5vw;
    }

    .analysisResultsBlock{
        width:33%;
        border: solid;
        border-width: 2px;
        border-color: #327fb3;
        border-radius: 30px;
        min-height: 40vh;
        max-height: fit-content;
        padding-bottom: 2.5vh;
    }
}