<!DOCTYPE html>

<html>
<head>
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
    {% block head %} {% endblock %}
</head>
<body>
    <header style="display: flex; justify-content: space-around;">
        <div style="font-size: 5vh; color: #e6e6e6; text-align: left; vertical-align: middle; margin-top: auto; margin-bottom: auto; margin-right: 4vw;"><a style="text-decoration: none; color: white;" href="{{ url_for('index') }}">FacE-ERaTA <i>ONLINE</i></a></div>
        <nav>
            <a class="navbutton" href="{{ url_for('index') }}">Home</a>
            <a class="navbutton" href="{{ url_for('randomemotion') }}">Random Emotion</a>
            <a class="navbutton" href="{{ url_for('useremotion') }}">User Picked Emotion</a>
            <a class="navbutton" href="{{ url_for('training') }}">Training</a>
        </nav>
        <div style="width: 20%;">&nbsp;</div>
    </header>
    {% block body %} {% endblock %}
</body>
</html>
