{% extends 'base.html' %}
{% block title %}
Home
{% endblock %}
{% block body %}

<div style="text-align:center;">
    <div style="width: 50%; padding: 2%; font-size: 3vh; margin-left: auto; margin-right:auto; margin-top: 6%; text-align: center;font-family: Yu Gothic UI; border-style: solid; border-width: 3px; border-radius: 25px; border-color: #327fb3;">
        <p style="padding-bottom: 1vh; font-size: 5vh; background-image: linear-gradient(to right, #b0e0e6, #4682b4, #b0e0e6); color: transparent; background-clip: text;">Welcome to FacE-ERaTA!</p>
        <!--<p style="padding-bottom: 1vh; font-size: 5vh; color: #fff; text-shadow: 1px 1px 0 #327fb3,-1px 1px 0 #327fb3,-1px -1px 0 #327fb3,1px -1px 0 #327fb3;">Welcome to FacE-ERaTA!</p>-->
        <p style="color: #327fb3;">FacE-ERaTA stands for Facial Emotion Expressiveness Rating for Theatrical Actors.
        It is a gamified app designed to help actors perfect their portrayal of emotions
        with the help of Artificial Intelligence for Facial Emotion Recognition (FER) and emotion rating
        based on facial landmarks. FacE-ERaTA will do its best to accurately rate the actor's portrayal of emotions in various
        gamemodes.</p>

        <p style="color: #327fb3;">Please select a gamemode from the menu above!</p>
    </div>
</div>
{% endblock %}
