{% extends 'base.html' %}
{% block title %}
Home
{% endblock %}
{% block body %}

<div style="text-align:center;">
    <div style="width: 50%; font-size: 3vh; margin-left: auto; margin-right:auto; margin-top: 5%; text-align: center; color: #e6e6e6;">
        <p style="padding-bottom: 3vh; font-size: 4vh;">Welcome to FacE-ERaTA!</p>
        FacE-ERaTA stands for Facial Emotion Expressiveness Rating for Theatrical Actors.
        It is an app designed to help actors perfect their portrayal of emotions
        with the help of Artificial Intelligence for Facial Emotion Recognition (FER) and emotion rating
        based on facial landmarks.\n FacE-ERaTA will do its best to accurately rate the actor's portrayal of emotions in various
        gamemodes.
    </div>
</div>
{% endblock %}