{% extends 'base.html' %}
{% block title %}
User Picked Emotion Challenge
{% endblock %}
{% block body %}
<body onload="init();">

    <div style="text-align: center;">

        <!--<h1 style="margin: 0px; margin-bottom: 2vh; margin-top: 1vh; color: #fff; text-shadow: 1px 1px 0 #327fb3,-1px 1px 0 #327fb3,-1px -1px 0 #327fb3,1px -1px 0 #327fb3; font-family: Yu Gothic UI; font-size: 400%; -webkit-font-smoothing: antialiased;">-->
        <h1 style="margin: 0px; margin-bottom: 2vh; margin-top: 1vh; font-family: Yu Gothic UI; font-size: 400%;  background-image: linear-gradient(to right, #b0e0e6, #4682b4, #b0e0e6); color: transparent; background-clip: text;">
            User Chosen Emotion Portrayal
        </h1>
        <hr style="border-top: 2px solid #327fb3;">
    </div>
    {% if errormessage != None %}
        <div style="text-align: center;">
            <h2 style="color: red; font-family: Yu Gothic UI; margin-bottom: -2vh;">
                {{ errormessage }}
            </h2>
        </div>
    {% endif %}
    <form action="#" method="POST" enctype="multipart/form-data">
    <div style="display:flex; width: 90%; margin: auto; justify-content: safe center; margin-top: 5vh;">
        <div style="width: 22%;">
            <div style="width:100%; border: solid; border-width: 2px; border-color: #327fb3; height: fit-content; border-radius: 30px; padding-top: 1vh; padding-bottom: 1vh; text-align: center; font-size: 150%; font-family: Yu Gothic UI;">
                <div style="text-align: center; font-size: 3vh; padding-bottom: 1.5vh; padding-top: 1.5vh">
                    <label for="emotion">Pick an emotion:</label>
                    <select name="emotion" id="emotion" style="padding-top: 0.5vh; padding-bottom: 0.5vh; padding-left: 0.5vh; padding-right: 0.5vh; font-size: 2.5vh;">
                        <option value="{{ emotions[0] }}"> {{ emotions[0] }}</option>
                        <option value="{{ emotions[1] }}"> {{ emotions[1] }}</option>
                        <option value="{{ emotions[2] }}"> {{ emotions[2] }}</option>
                        <option value="{{ emotions[3] }}"> {{ emotions[3] }}</option>
                        <option value="{{ emotions[4] }}"> {{ emotions[4] }}</option>
                        <option value="{{ emotions[5] }}"> {{ emotions[5] }}</option>
                    </select>
                </div>
            </div>
            <div style="width: 100%; margin-top: 0.5vh;">&nbsp;</div>
            <div style="width:100%; border: solid; border-width: 2px; border-color: #327fb3; border-radius: 30px; min-height: 40vh; max-height: fit-content;">
                <p style="font-size: x-large; font-family: Yu Gothic UI; text-align: center; padding: 0.5vh 1vw 0.5vh 1vw;">
                       In this gamemode you are allowed to try and portray an emotion of your choice.
                       Select an emotion to portray down below and then either upload a picture or take a picture live
                       where you express said emotion. The AI judge will then rate your attempt once you press 'Submit'.
                </p>
            </div>
        </div>
        <div style="width: 40%; border: solid; border-width: 2px; border-color: #327fb3; border-radius: 30px; margin-right: 3vw; margin-left: 3vw; min-height: 30vh; max-height: fit-content;">
                <div style="margin-auto; margin-top: 2vh; text-align: center;">
                    <div style="display: flex; justify-content: safe center; flex-wrap: wrap; margin: 0;">
                        <div id="photocontainerold" class="container-video" style="{% if picname != None %}display: flex; justify-content: safe center; margin: auto; margin-top: 2vh;{% else %} display: none; {% endif %}">
                            <img id="photoold" name="photo" src="{{ picname }}" style="max-width: 500px; max-height: 375px;"/>
                        </div>

                        <div id="vidcontainer" class="container-video" style="{% if picname != None %}display:none;{% endif %}">
                            <video autoplay="true" id="videoElement">
                            </video>
                        </div>
                        <div id="photocontainer" class="container-video" style="display: none">
                                <img id="photo" name="photo"/>
                        </div>
                    </div>
                    <canvas  id="myCanvas" style="display: none;"></canvas>
                    <div id="popupvideo" style="text-align: center; margin-top: 3vh; display: none;">
                        <input id="picupload" style="display:none;" type="file" name="pic" id="pic" accept="image/*">
                        <div style="display: flex; justify-content: safe center;">
                            <button id="buttontakepic" class="buttonsubmit" style="margin-right: 5vw;" type="button" onclick="snapshot()">Take Picture</button>
                            <label for="picupload" class="buttonsubmit" id="uploadpiclabel">
                                Upload Picture
                            </label>
                        </div>
                        <button style="display: none;" class="buttonsubmit" type="button" id="resumevid" onclick="resumevideo()">Resume Video</button>
                        <input type="hidden" name="backendimage" id="backendimage">
                    </div>
                </div>
                <input id="emotioninput" name="emotioninput" type="hidden" value="{{ emotion }}">
                <div id="errmsg" style="text-align: center; display: none; margin-bottom: -4%;">
                    <h3 style="color: red; font-family: Yu Gothic UI; margin-bottom: 0;">
                        Error: No Camera Detected
                    </h3>
                </div>
                <div style="display:flex; justify-content: safe center; flex-wrap: wrap; margin-top: {% if picname == None  %}10%{% else %} 3vh {% endif %};" id="initialdiv">
                    <p style="padding-left: 1vw; padding-right: 1vw;"></p>
                    <button class="buttonsubmit" type="button" id="opencambutton" onclick="openVid()">Open Camera</button>
                    <div style="width: 5vw;">&nbsp;</div>
                    <label for="picupload" class="buttonsubmit" id="upload1">
                            Upload Picture
                    </label>
                </div>
                <div style="margin: auto; text-align: center; margin-top: 3vh; margin-bottom :2vh;">
                    <button class="buttonsubmit" type="submit" value="submit">Submit</button>
                </div>
        </div>
        <div style="width:33%; border: solid; border-width: 2px; border-color: #327fb3; border-radius: 30px; min-height: 40vh; max-height: fit-content; padding-bottom: 2.5vh;">
            <p style="font-size: xx-large; font-family: Yu Gothic UI; text-align: center; margin: 0; margin-top: 0.5vh; margin-bottom: 1em;">Analysis Results</p>
            <div style="display: flex; margin: 1vh 3vw 1vh 3vw">
                <div style="width: 50%">
                    <p style="font-size: x-large; font-family: Yu Gothic UI; text-align: left; margin: 0;">😄 Happiness</p>
                </div>
                <div style="width: 50%; vertical-align: middle; margin-top: auto; margin-bottom: auto;">
                    <div style="width: 100%; height: 1vh; background-color: grey; border-style: none; border-radius: 25px;">
                        {% if result != None and stats['happy'] > 1 %}
                        <div style="width: {{ stats['happy'] }}%; height: 1vh; background-color: yellow; border-style: none; border-color: yellow; border-width: 1px; border-radius: 25px;">
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div style="display: flex; margin: 1vh 3vw 1vh 3vw">
                <div style="width: 50%">
                    <p style="font-size: x-large; font-family: Yu Gothic UI; text-align: left; margin: 0;">😭 Sadness</p>
                </div>
                <div style="width: 50%; vertical-align: middle; margin-top: auto; margin-bottom: auto;">
                    <div style="width: 100%; height: 1vh; background-color: grey; border-style: none; border-radius: 25px;">
                        {% if result != None and stats['sad'] > 1 %}
                        <div style="width: {{ stats['sad'] }}%; height: 1vh; background-color: blue; border-style: none; border-color: blue; border-width: 1px; border-radius: 25px;">
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div style="display: flex; margin: 1vh 3vw 1vh 3vw">
                <div style="width: 50%">
                    <p style="font-size: x-large; font-family: Yu Gothic UI; text-align: left; margin: 0;">😡 Anger</p>
                </div>
                <div style="width: 50%; vertical-align: middle; margin-top: auto; margin-bottom: auto;">
                    <div style="width: 100%; height: 1vh; background-color: grey; border-style: none; border-radius: 25px;">
                        {% if result != None and stats['angry'] > 1 %}
                        <div style="width: {{ stats['angry'] }}%; height: 1vh; background-color: red; border-style: none; border-color: red; border-width: 1px; border-radius: 25px;">
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div style="display: flex; margin: 1vh 3vw 1vh 3vw">
                <div style="width: 50%">
                    <p style="font-size: x-large; font-family: Yu Gothic UI; text-align: left; margin: 0;">😮 Surprise</p>
                </div>
                <div style="width: 50%; vertical-align: middle; margin-top: auto; margin-bottom: auto;">
                    <div style="width: 100%; height: 1vh; background-color: grey; border-style: none; border-radius: 25px;">
                        {% if result != None and stats['surprise'] > 1 %}
                        <div style="width: {{ stats['surprise'] }}%; height: 1vh; background-color: orange; border-style: none; border-color: orange; border-width: 1px; border-radius: 25px;">
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div style="display: flex; margin: 1vh 3vw 1vh 3vw">
                <div style="width: 50%">
                    <p style="font-size: x-large; font-family: Yu Gothic UI; text-align: left; margin: 0;">😱 Fear</p>
                </div>
                <div style="width: 50%; vertical-align: middle; margin-top: auto; margin-bottom: auto;">
                    <div style="width: 100%; height: 1vh; background-color: grey; border-style: none; border-radius: 25px;">
                        {% if result != None and stats['fear'] > 1 %}
                        <div style="width: {{ stats['fear'] }}%; height: 1vh; background-color: purple; border-style: none; border-color: purple; border-width: 1px; border-radius: 25px;">
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div style="display: flex; margin: 1vh 3vw 1vh 3vw">
                <div style="width: 50%">
                    <p style="font-size: x-large; font-family: Yu Gothic UI; text-align: left; margin: 0;">🤮 Disgust</p>
                </div>
                <div style="width: 50%; vertical-align: middle; margin-top: auto; margin-bottom: auto;">
                    <div style="width: 100%; height: 1vh; background-color: grey; border-style: none; border-radius: 25px;">
                        {% if result != None and stats['disgust'] > 1 %}
                        <div style="width: {{ stats['disgust'] }}%; height: 1vh; background-color: green; border-style: none; border-color: green; border-width: 1px; border-radius: 25px;">
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div style="display: flex; margin: 1vh 3vw 1vh 3vw">
                <div style="width: 50%">
                    <p style="font-size: x-large; font-family: Yu Gothic UI; text-align: left; margin: 0;">😐 Neutral</p>
                </div>
                <div style="width: 50%; vertical-align: middle; margin-top: auto; margin-bottom: auto;">
                    <div style="width: 100%; height: 1vh; background-color: grey; border-style: none; border-radius: 25px;">
                        {% if result != None and stats['neutral'] > 1 %}
                        <div style="width: {{ stats['neutral'] }}%; height: 1vh; background-color: lightgrey; border-style: none; border-color: lightgrey; border-width: 1px; border-radius: 25px;">
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% if result != None %}
            <div style="margin: 2vh 3vw 2vh 3vw">
                <hr>
            </div>
            <div style="margin: 0 3vw 0 3vw">
                <p style="font-size: xx-large; font-family: Yu Gothic UI; text-align: left; margin: 0">Accuracy</p>
                {% if success == "Success" %}
                <p style="font-size: xx-large; font-family: Yu Gothic UI; text-align: left; color: green">{{ message }}</p>
                {% else %}
                <p style="font-size: xx-large; font-family: Yu Gothic UI; text-align: left; color: red">{{ message }}</p>
                <p style="font-size: x-large; font-family: Yu Gothic UI; text-align: left; margin: 0">Our AI thought you were displaying {{ result }} instead</p>
                {% endif %}
            </div>
            {% endif %}
        </div>

    </div>

    </form>
    <script>
    var video;
    let photo = null;
    let photobackend = null;

function openVid() {
    {% if picname != None %}
    document.getElementById("photocontainerold").style.display = "none";
    document.getElementById("vidcontainer").style.display = "block";
    {% endif %}
    if (navigator.mediaDevices.getUserMedia) {
      navigator.mediaDevices.getUserMedia({ video: true })
        .then(function (stream) {
            document.getElementById("popupvideo").style.display = "block";

            video = document.querySelector("#videoElement");
            document.getElementById("opencambutton").style.display = "none";
            document.getElementById("initialdiv").style.display = "none";
            document.getElementById("upload1").style.display = "none";
            document.getElementById("errmsg").style.display = "none";
            video.srcObject = stream;
        })
        .catch(function (err0r) {
          document.getElementById("errmsg").style.display = "block";
        });
    }
}

var canvas, ctx;

function init() {
        // Get the canvas and obtain a context for
        // drawing in it
        canvas = document.getElementById("myCanvas");
        ctx = canvas.getContext('2d');
        canvas.setAttribute("width", 500);
        canvas.setAttribute("height", 375);
        photo = document.getElementById("photo");
      }

          function snapshot() {
         // Draws current image from the video element into the canvas
        ctx.drawImage(video, 0,0, canvas.width, canvas.height);
        document.getElementById("photocontainer").style.display = "inline";
        document.getElementById("vidcontainer").style.display = "none";
        document.getElementById("opencambutton").style.display = "none";
        document.getElementById("upload1").style.display = "none";
        document.getElementById("resumevid").style.display = "inline";
        document.getElementById("buttontakepic").style.display = "none";
        document.getElementById("uploadpiclabel").style.display = "none";
        const data = canvas.toDataURL("image/png");
        photo.setAttribute("src", data);
        document.getElementById("backendimage").value = data;
      }

           function resumevideo(){
        document.getElementById("vidcontainer").style.display = "inline";
        document.getElementById("buttontakepic").style.display = "inline";
                document.getElementById("uploadpiclabel").style.display = "inline";
        document.getElementById("opencambutton").style.display = "none";
        document.getElementById("upload1").style.display = "none";
        document.getElementById("resumevid").style.display = "none";
        document.getElementById("photocontainer").style.display = "none";
        }



</script>

</body>
{% endblock %}


